@model IEnumerable<MyQuiz.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            StartTime
        </th>
        <th>
            Duration
        </th>
        <th>
            EndTime
        </th>
        <th>
            Score
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuizId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuizId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuizId })
        </td>
    </tr>
}

</table>
