@model IEnumerable<MyQuiz.Models.AnswerChoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Choices
        </th>
        <th>
            Question
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Choices)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Answers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnswerChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnswerChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerChoiceId })
        </td>
    </tr>
}

</table>
